<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlotControl</title>
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
  <script type="text/javascript" src="p5.min.js"></script>
</head>

<body>  
 <!--<div class="mdl-layout mdl-js-layout mdl-layout--drawer">    
    <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
        <%for( let key in params ) {%>          
          <% if ( typeof(params[key]) == "boolean" ) { %>            
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="<%=key%>">
              <span class="mdl-switch__label"><%=key%></span>
              <input 
                class="mdl-switch__input" 
                type="checkbox"
                id="<%=key%>"
                onclick="onParamChanged(this, '<%=key%>', '<%=typeof(params[key])%>')"
                <%=Boolean(params[key])==true ? 'checked' : 'unchecked'%>
              >
            </label>            
          <% } else { %>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--5-col"><%=key%></div>
              <input 
                class="mdl-cell mdl-cell--7-col mdl-textfield__input" 
                type="text" 
                pattern="-?[0-9]*(\.[0-9]+)?"
                value='<%=params[key]%>'
                onchange="onParamChanged(this, '<%=key%>', '<%=typeof(params[key])%>')"
              >
            </div>
          <% } %>
        <% } %>
      </nav>
    </div>-->
    <main id="canvas" width="400">
    </main>
    
     
        <form action="upload" action='/upload' method='POST' encType="multipart/form-data">
        <input type="file" id="file" name="fileToUpload" onchange="this.form.submit()">
        <!--<label for="file"id="upload">          
          <i>load svg      ....</i>
        </label>-->
        </form>
        <button id="play" onclick="onPlay()">                
          <i>draw</i>
        </button>

        <button id="pause" onclick="onPauseToggle()">
          <i>pause</i>
        </button>
        
        <button id="stop" onclick="onStop()">
          <i>clear</i>
        </button>
        
        <button id="penToggle" onclick="onPenToggle()">
          <i>pen-toggle</i>
        </button>
        
        <button id="home" onclick="onHome()">
          <i>home</i>
        </button>
      
    
  </div>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>